<!DOCTYPE html>
<html>
  <head th:replace="template :: head(~{::title},~{::link})">
     <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/header_footer.css">
    <title>remey</title>
  </head>
  <body class="font-kosugi-maru">
    <noscript>
      <strong>We're sorry but remey doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
	<header>
		<div th:replace="template :: header">header</div>
	</header>
    <div class="content">
    	<div id="app"></div>
    </div>
  <script type="text/javascript" src="/js/index_bundle.js"></script></body>
</html>
