@CHARSET "UTF-8";
img.google_login:hover{
	background:url('/pict/btn_google_signin_focus.png');
	background-repeat: no-repeat;
    background-size: auto;
}
img.google_login:active{
	background:url('/pict/btn_google_signin_pressed.png');
	background-repeat: no-repeat;
    background-size: auto;
}

.login_board{
	padding:120px 0px;
}